body {
    background-image: url("https://images.pexels.com/photos/7372078/pexels-photo-7372078.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1");
    background-position: center calc(24% - 20px);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: aliceblue;
}
.container {
    max-width: 650px;
    background-color: rgba(14, 13, 13, 0.8); /* Este asigne color de transparencia */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.todo-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}
.todo-item button {
    margin-left: 5px;
}
.form-control{
    background-color: rgb(14, 13, 13);
}
