body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/127/178/large_2x/food-vector-pattern.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    padding: 40px;
    backdrop-filter: blur(3px); 
    -webkit-backdrop-filter: blur(5px); 
}
.receta-container {
    background-color: #fbfdff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
    border: solid rgb(215, 210, 210) 1px;
}
.receta-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.receta-header h1 {
    margin: 0;
    font-size: 36px;
    color:#007bff;
}
.receta-imagen {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.receta-seccion {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}
.receta-seccion h2 {
    margin-top: 0;
    font-size: 24px;
    color: #007bff;
}

.receta-video {
    position: relative;
    padding-top: 56.25%; 
    height: 0;
    overflow: hidden;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.receta-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px; 
}

#etiquetas {
    list-style-type: none;
    padding: 0;
    margin-left: 0;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .4rem;
}

.etiquetas-estilos {
    background-color:lightskyblue;
    padding: .4rem;
    border-radius: 15px;
    font-weight: 600;
    margin: 2px;
}
