body {
    background-image: url(https://images.pexels.com/photos/4860455/pexels-photo-4860455.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-position: center calc(24% - 20px);
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    height: 100vh; 
    margin: 0;
    padding: 0; 
}
footer {
    color: white; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
    padding: 10px;
    align-self: flex-end;
    width: 100%;

}
label {
    font-weight: bold;
}

#aviso {
    color: red;
    font-size: 90%;
}

.toggle-password{
    margin-top: 15px;
    margin-right: 8px;
}